<!--
  - MSU ESOF423 
  - Spring 2018
  - Group 3 
-->

<!DOCTYPE html>
<html lang="en-US">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<head>
	<title>ESOF423 Project</title>
	<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
	<link rel="stylesheet" href="style.css">
</head>

<body>
	<h1 id="title1">Do It Yourself Legal Forms</h1>

	<div id="titlebox">
		<p id="titlep">
			Why pay an attorney to enter your information into a standard legal form? Instead, enter the information yourself and save
			money. Our legal forms are created by attorneys in your state. Just fill in the required information, pay for the form
			and receive your completed legal document.
		</p>
		<p id="titlep">
			<input type="button" class="pure-button" value="Login" onclick="window.location='/login'"/>
		</p>
	</div>


	<p> Contact Information - TBD</p>
	<p> The Github page for this project, along with a basic set of documentation on installing this software and a page where you
		can report bugs, can be found at https://github.com/ESOF423/attorney-form-builder.</p>

	<a href="https://drive.google.com/file/d/1Cgw1TXjO-6lhn1U3f11QyxkDn1wJxS-4/view?usp=sharing">View our latest burndown chart (updated biweekly)</a>

	<p> Legal Information - TBD</p>
</body>

</html>

