.question-container {
    border: solid 2px #000;
    padding: .5rem;
}

.delete-button {
    color: red;
    font-size: 1.3rem;
    cursor: pointer;

    &:hover {
        color: darken(red, 20%);
    }
}

.question {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    flex-wrap: wrap;

    & > * {
        margin-right: .5rem;
    }

    .conditional-question-questions {
        flex-grow: 1;
        border: solid 1px black;
    }
}